global
    # global settings here
    maxconn 50000
    log /dev/log local0
    user haproxy
    group haproxy
    stats socket /run/haproxy/admin.sock user haproxy group haproxy mode 660 level admin
    nbproc 2
    nbthread 4
    cpu-map auto:1/1-4 0-3
    ssl-default-bind-ciphers ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
    ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
    # defaults here
    timeout connect 10s
    timeout client 30s
    timeout server 30s
    log global
    mode http
    option httplog
    maxconn 3000

frontend emby_frontend
    # a frontend that accepts requests from clients
    bind *:8096
    default_backend emby_server

backend emby_server
    # servers that fulfill the requests
    default-server check maxconn 20
    server server1 emby-media.home.lab:8096

frontend portainer_frontend
    # a frontend that accepts requests from clients
    bind *:9000
    default_backend portainer_server

backend portainer_server
    default-server check maxconn 20
    server server1 10.10.10.55:9000

frontend pfsense_frontend
    bind *:10001
    default_backend pfsense_backend

backend pfsense_backend
    default-server check maxconn 20
    server server1 10.10.10.2:80    