- name: install haproxy
{% if ansible_distribution == "Debian" %}
  apt:
{% elif ansible_distribution == "CentOS" %}
  yum:
{% endif %}
    name: ['haproxy']
    state: present

- name: copy haproxy config
  file:
    src: haproxy.cfg
    dest: /etc/haproxy/haproxy.cfg

- name: restart haproxy
  shell: systemctl restart haproxy